* {
    box-sizing: border-box;
}

.container{
    background-color: gray;
    height: 100vh;
}

.box{
    background-color: blue;
    border: 3px solid;
    height: 150px;
    width: 50%;
    padding: 25px;
    float: left;
    text-align: center;

}