.gallery {
    width: 130px;
    display: inline-block;
    border: 1px solid hsl(0, 0%, 45%);
    margin: 5px;
}

.gallery .description {
    padding: 5px;
    text-align: center;
}

.gallery:hover {
    border: 1px solid hsl(0, 0%, 10%)
}

.gallery img{
    width: 100%;
    height: auto;
}