.pagination {
    text-align: center;
}

.pagination a {
    padding: 3px 15px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.pagination a.active {
    background-color: green;
    border-radius: 5px;
    font-weight: bold;
}

.pagination a:hover:not(.active) {
    background-color: gray;
    border-radius: 5px;
}